{% extends "base.html" %}
{% block title%}{% endblock title%}
{% block content %}

<div class="container">
  <h1 class="mt-5">Register</h1>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
        <p>Already have the account? <a href="{% url 'login' %}">Login</a></p>

  </form>
  <a href="{% url 'homepage' %}" class="toggle" class="btn btn-primary">Home Page</a>
{% endblock content %}